textarea{
    width: 50%;
    border-radius: 4px;
    background-color: F2F0EF;
    height: 150px;
}
form {
    padding: none;
    margin: 0;
}
div.form {
    border-color: #3696E3;
    border-style: solid;
    border-width: 2px;
    background-color: #B2D6FF;
    padding: 10px;
}
div.form input[type=text] {
    width: 200px;
}
a.storyLink {
    color: #495DDE;
    font-family: 'Georgia', serif;
}
a.storyLink:hover {
    color: white;
    background-color: #8C8FE0;
}
a.userLink {
    color: #CA32BA;
}
.genre {
    font-family: monospace;
    color: #20996F;
}
a.button {
    display: inline-block;
    background-color: #C8ECFF;
    text-decoration: none;
    color: black;
    font-family: serif;
    padding: 5px;
}
a.button:hover {
    background-color: #61C3FF;
    color: white;
}
/* Used in the search results pages for listing stories and users */
div.list div:nth-child(even) {
    background-color: #FFEBD2;
}
div.list div {
    padding: 5px;
}
div.list div:hover {
    background-color: #E6E6E6;
}