{% extends "base.html" %}
{% block body %}
<!-- Jinja variables:
    title: the title of the story
    author: the creator of this story
    genre: the genre of this story
    id: the unique id of this story
    like: True if the user has liked it, False otherwise
    likes: the number of likes this story has
    pieces: an array of dictionaries, each of which have these keys:
        author: who contributed this piece?
        text_contributed: the words they added
        timestamp: the time of this addition
        The pieces should be in order of version_num -->
<h1>{{title}}</h1>
<h6>Started by <a class="userLink" href="/user?id={{author}}">{{ author }}</a><br>
    Genre: <a class="genre" href="/search?genre={{genre}}">{{ genre }}</a></h6>
{% if like %}
    You and {{ likes }} others like this story. <a class="button" href="/like?id={{id}}">Unlike</a>
{% else %}
    Click here if you <a class="button" href="/like?id={{id}}">Like</a> this story.
{% endif %}
<p>
    {% for piece in pieces %}
        {% set who = piece["contributor"] %}
        {% set what = piece["text_contributed"] %}
        {% set when = piece["timestamp"] %}
        <span title="{{who}} on {{when}}">{{ what }}</span>&nbsp;
    {% endfor %}
</p>
{% endblock %}
