{% extends "base.html" %}
{% block body %}
    <h1>Welcome to Our Story!</h1>
    At the top there is a menubar. Use it to navigate the site.
    <ul>
        <li>All Stories lists all the stories we have. Checkout the cool search filter.</li>
        <li>The search box lets you search by title</li>
        <li>My Page is your profile! Access every story you created, modified, or liked</li>
        <li>New Story is where you get to make your own stories!</li>
    </ul>
    Here are some links you may see on this website:
    <ul>
        <li>Blue links: these are links to stories. Click on them to see/edit a story.</li>
        <li>Pink links: these are links to user profile pages. Click on them to see the profile.</li>
        <li>Green links: these are genres. Click on them to search for that genre.</li>
    </ul>
    If you see a story you want to come back to or support, click "like" when viewing it. It will be
    public on your profile so you can go back to it.<br>
    Most stories are accessible to those without accounts. You can send the link in the URL to friends
    who, for reasons unknown, aren't already using this great website.<br>
    When viewing a story, hover over words to see who contributed them<br>
    If you have feedback, contact Michael Cheng, Jenny Gao, William Soe or Max Zlotskiy<br>
    <b>Spicy Churros 2017</b>
{% endblock %}