{% extends "base.html" %}
{% block body %}
<div class="form">
    <form method="GET" action="/search">
        <u>Filter search results:</u> <input type="submit" value="Search"> <br>
        Genre: <input type="text" name="genre" placeholder="leave blank to search for ALL">&nbsp;&nbsp;&nbsp;&nbsp;
        Author: <input type="text" name="by" placeholder="leave blank to search for ALL">&nbsp;&nbsp;&nbsp;&nbsp;
        Title: <input type="text" name="q" placeholder="leave blank to search for ALL"><br>
        Status: <input type="radio" name="status" value="finished">finished&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="status" value="unfinished">unfinished&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="status" value="all">all<br>
        List by: <input type="radio" name="sort" value="c">date created&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="sort" value="d">date modified&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="sort" value="a">title&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="sort" value="v">views&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="sort" value="p">popularity<br>
    </form>
</div>
<div id="results">
    {% if listUsers %}
        <h2>Users</h2>
        <div id="users" class="list">
            {% for user in listUsers %}
                {% set uname = user["username"] %}
                <div>
                <a class="userLink" href="/user?id={{ uname }}">{{ uname }}</a> &nbsp;&nbsp;&nbsp;&nbsp;({{ user["full_name"] }})<br>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <hr/>
    <h2>Stories</h2>
    <div id="stories" class="list">
    {% for story in listStories %}
        {% set id = story["id"] %}
        {% set who = story["author"] %}
        {% set genre = story["genre"] %}
        <div>
        <a class="storyLink" href="/story?id={{id}}">{{ story["title"] }}</a>
        By: <a class="userLink" href="/user?id={{who}}">{{ who }}</a>
        Genre: [<a class="genre" href="/search?genre={{genre}}">{{ genre }}</a>]
        Has {{ story["popularity"] }} upvotes and {{ story["views"] }} views
        </div>
    {% endfor %}
    <i>End of search results.</i>
    </div>
</div>
{% endblock %}

