{% extends "base.html" %}
{% block body %}
{% if user=="" or user==me %}
<h1>My Page</h1>
{% else %}
<h1>{{user}}'s Page</h1>
{% endif %}

<h2>Liked stories</h2>
<div id="stories" class="list">
    {% for story in likedStories %}
        {% set id = story["id"] %}
        {% set who = story["author"] %}
        {% set genre = story["genre"] %}
        <div>
        <a class="storyLink" href="/story?id={{id}}">{{ story["title"] }}</a>
        By: <a class="userLink" href="/user?id={{who}}">{{ who }}</a>
        Genre: [<a class="genre" href="/search?genre={{genre}}">{{ genre }}</a>]
        Has {{ story["popularity"] }} upvotes and {{ story["views"] }} views
        </div>
    {% endfor %}
    </div>
<hr/>
<h2>Stories Contributed To</h2>
<div id="stories" class="list">
    {% for i in contributedStories %}
        {% set storyId = i["id"] %}
        {% set title = i["title"] %}
        {% set who = i["author"] %}
        {% set genre = i["genre"] %}
        {% set popularity = i["popularity"] %}
        {% set views = i["views"] %}
        <div>
        <a class="storyLink" href="/story?id={{storyId}}">{{ title }}</a>
        By: <a class="userLink" href="/user?id={{who}}">{{ who }}</a>
        Genre: [<a class="genre" href="/search?genre={{genre}}">{{ genre }}</a>]
        Has {{popularity }} upvotes and {{ views }} views
        </div>
    {% endfor %}
    </div>
{% endblock %}
